<div class="comments_list">
    <ul>
        <li class="comment_item" id="comment_10155602">
            <span class="parent_id" data-parent_id="0"></span>
            <div class="comment_body ">
                <div class="info comments-list__item comment-item is_topic_starter " rel="10155602">
                    <div class="folding-dot-holder">
                        <div class="folding-dot"></div>
                    </div>
                    <span class="comment-item__user-info" rel="user-popover" data-user-login="hibissscus">
            <a href="https://habrahabr.ru/users/hibissscus/" class="comment-item__avatar">
                <img src="//habrastorage.org/getpro/habr/avatars/874/e7f/f91/874e7ff91195e7d43f136653f25ddbde_small.png"
                     alt="" class="comment-item__avatar-img">
            </a>
            <a href="https://habrahabr.ru/users/hibissscus/" class="comment-item__username">hibissscus</a>
          </span>
                    <time class="comment-item__time_published">
                        5 апреля 2017 в 12:57
                        <span class="comment-item__time_changed icon_comment-edit" title="Kомментарий был изменён">
                <i class="comment-item__sign_changed">(комментарий был изменён)</i>
              </span>
                    </time>
                    <span class="comment-item__controls">
                <a href="#comment_10155602" class="icon_comment-anchor" title="Ссылка на комментарий"></a>
                    <a href="#" class="icon_comment-favorite add"
                       onclick="return comments_add_to_favorite(this, '3', 10155602 )" title="В избранное"></a>
                <span class="js-comment_chidren" title="Вернуться к ответу"></span>
              </span>
                    <div id="voting_10155602" class="voting-wjt voting-wjt_comments js-voting   ">
                        <div class="voting-wjt__counter js-mark  ">
                            <span class="voting-wjt__counter-score js-score" title="Всего 0: ↑0 и ↓0">0</span>
                        </div>
                        <button type="button" disabled="" class="voting-wjt__button voting-wjt__button_plus js-plus"
                                title=""><span>↑</span></button>
                        <button type="button" disabled="" class="voting-wjt__button voting-wjt__button_minus js-minus"
                                title=""><span>↓</span></button>
                    </div>
                </div>
                <div class="message html_format ">
                    Да. DCEVM поддерживает возможность модернизировать тело класса.
                </div>
                <div class="reply_form_placeholder"></div>
                <div class="reply">
                    <a href="#reply" class="reply_link" onclick="return comment_show_reply_form(10155602 )">ответить</a>
                </div>
            </div>
        </li>
    </ul>
</div>