<div class="page-header page-header_full" id="hub_359">
    <div class="page-header_wrapper">
        <div class="media-obj media-obj_page-header">
            <a href="/hub/programming/" class="media-obj__image">
                <img src="//habrastorage.org/getpro/habr/hub/db2/c8f/4a1/db2c8f4a1974bf334d01595732f339c1.png" width="48" height="48" class="media-obj__image-pic">
            </a>

            <div class="media-obj__body media-obj__body_page-header media-obj__body_page-header_hub">
                <div class="page-header__stats">
                    <div class="page-header__stats-value">679,30</div>
                    <div class="page-header__stats-label">Рейтинг</div>
                </div>
            </div>
        </div>

        <div class="page-header__buttons">
            <button type="button" class="page-header__button btn btn_large btn_subscribed js-hub-follow-btn" data-id="359" data-state="unfollow">
                <span class="btn__value js-btn-value">Подписан</span>
                <span class="btn__value-hidden">Отписаться</span>
            </button>
        </div>
    </div>

    <div class="page-header__info">
        <a href="/hub/programming/" class="page-header__info-title">Программирование</a>
        <span class="n-profiled_hub" title="Профильный хаб"></span>
        <div class="page-header__info-desc">
            Искусство создания компьютерных программ
        </div>
    </div>
</div>