<div class="dropdown dropdown_flows">

    <button type="button" class="btn btn_large btn_flow-toggle" data-toggle="dropdown" tabindex="0" aria-expanded="false">Все потоки<span class="icon-svg_chevron icon-svg_chevron_flows"><svg class="icon-svg" width="28" height="16" viewBox="0 0 28 16" aria-hidden="true" aria-labelledby="title" version="1.1" role="img"><path d="M27.236.82c-1.048-1.048-2.516-1.132-3.804 0l-9.432 8.816-9.432-8.816c-1.288-1.132-2.756-1.048-3.804 0-1.052 1.048-.984 2.816 0 3.8l11.336 10.592c.524.524 1.212.788 1.9.788s1.376-.264 1.9-.788c0 0 10.352-9.608 11.336-10.592s1.052-2.752 0-3.8z"></path></svg></span></button>

    <div class="dropdown-container dropdown-container_flows">
        <ul class="n-dropdown-menu n-dropdown-menu_flows">
            <li class="n-dropdown-menu__item">
                <a href="https://habrahabr.ru/flows/develop/" class="n-dropdown-menu__item-link n-dropdown-menu__item-link_flow">Разработка</a>
            </li>
            <li class="n-dropdown-menu__item">
                <a href="https://habrahabr.ru/flows/admin/" class="n-dropdown-menu__item-link n-dropdown-menu__item-link_flow">Администрирование</a>
            </li>
            <li class="n-dropdown-menu__item">
                <a href="https://habrahabr.ru/flows/design/" class="n-dropdown-menu__item-link n-dropdown-menu__item-link_flow">Дизайн</a>
            </li>
            <li class="n-dropdown-menu__item">
                <a href="https://habrahabr.ru/flows/management/" class="n-dropdown-menu__item-link n-dropdown-menu__item-link_flow">Управление</a>
            </li>
            <li class="n-dropdown-menu__item">
                <a href="https://habrahabr.ru/flows/marketing/" class="n-dropdown-menu__item-link n-dropdown-menu__item-link_flow">Маркетинг</a>
            </li>
            <li class="n-dropdown-menu__item">
                <a href="https://habrahabr.ru/flows/misc/" class="n-dropdown-menu__item-link n-dropdown-menu__item-link_flow">Разное</a>
            </li>
        </ul>
    </div>
</div>