<div class="page__footer">
    <ul class="arrows-pagination">
        <li class="arrows-pagination__item">
            <span class="arrows-pagination__item-link">←&nbsp;сюда</span>
        </li>
        <li class="arrows-pagination__item">
            <a title="На страницу вперед (Alt + →)"
               class="arrows-pagination__item-link arrows-pagination__item-link_next" id="next_page"
               href="/interesting/page2/" rel=""><span>туда</span>&nbsp;→</a>
        </li>
    </ul>

    <ul class="toggle-menu toggle-menu_pagination" id="nav-pagess">
        <li class="toggle-menu__item toggle-menu__item_pagination">
            <span class="toggle-menu__item-link toggle-menu__item-link_pagination toggle-menu__item-link_active">1</span>
        </li>
        <li class="toggle-menu__item toggle-menu__item_pagination">
            <a href="/interesting/page2/" class="toggle-menu__item-link toggle-menu__item-link_pagination">2</a>
        </li>
        <li class="toggle-menu__item toggle-menu__item_pagination">
            <a href="/interesting/page3/" class="toggle-menu__item-link toggle-menu__item-link_pagination">3</a>
        </li>
        <li class="toggle-menu__item toggle-menu__item_pagination">
            <a href="/interesting/page4/" class="toggle-menu__item-link toggle-menu__item-link_pagination">4</a>
        </li>
        <li class="toggle-menu__item toggle-menu__item_pagination">
            <a href="/interesting/page5/" class="toggle-menu__item-link toggle-menu__item-link_pagination">5</a>
        </li>
        <li class="toggle-menu__item toggle-menu__item_pagination">
            <a href="/interesting/page6/" class="toggle-menu__item-link toggle-menu__item-link_pagination">6</a>
        </li>
        <li class="toggle-menu__item toggle-menu__item_pagination">
            <a href="/interesting/page7/" class="toggle-menu__item-link toggle-menu__item-link_pagination">7</a>
        </li>
        <li class="toggle-menu__item toggle-menu__item_pagination">
            <a href="/interesting/page8/" class="toggle-menu__item-link toggle-menu__item-link_pagination">8</a>
        </li>
        <li class="toggle-menu__item toggle-menu__item_pagination">
            <a title="Последняя страница"
               class="toggle-menu__item-link toggle-menu__item-link_pagination toggle-menu__item-link_bordered"
               href="/interesting/page100/" rel="">→</a>
        </li>
    </ul>
</div>