<div class="tabs">
    <div class="tabs__level tabs-level_top tabs-menu">
        <a href="https://habrahabr.ru/hub/programming/" class="tabs-menu__item tabs-menu__item_link">
          <span class="tabs-menu__item-text tabs-menu__item-text_active">
            Интересные
          </span>
        </a>
        <a href="https://habrahabr.ru/hub/programming/all/" class="tabs-menu__item tabs-menu__item_link">
          <span class="tabs-menu__item-text ">
            Все подряд
          </span>
        </a>
        <a href="https://habrahabr.ru/hub/programming/best/" class="tabs-menu__item tabs-menu__item_link">
          <span class="tabs-menu__item-text ">
            Лучшие
          </span>
        </a>
        <a href="https://habrahabr.ru/hub/programming/authors/" class="tabs-menu__item tabs-menu__item_link">
          <span class="tabs-menu__item-text ">
            Авторы
          </span>
        </a>
    </div>

</div>