<div class="post__header">
      <span class="post__time_published">
          6 апреля в 17:57
      </span>

    <h2 class="post__title">
        <a href="https://habrahabr.ru/flows/develop/" class="post__flow" onclick="if (typeof ga === 'function') { ga('send', 'event', 'flow', 'feed page', 'Разработка'); }">Разработка</a><span class="post__title-arrow">&nbsp;→</span>
        <a href="https://habrahabr.ru/company/microsoft/blog/325872/" class="post__title_link">ASP.NET Core: Создание справочных страниц веб-API ASP.NET с помощью Swagger</a>

        <span class="flag flag_translation" title="Перевод">перевод</span>
        <span class="flag flag_tutorial" title="Обучающий материал">tutorial</span>
    </h2>

    <div class="hubs">
        <a href="https://habrahabr.ru/hub/open_source/" class="hub subscribed" title="Вы подписаны на этот хаб" onclick="if (typeof ga === 'function') { ga('send', 'event', 'hub', 'feed page', 'Open source'); }">Open source</a><span class="profiled_hub" title="Профильный хаб">*</span>,
        <a href="https://habrahabr.ru/hub/csharp/" class="hub " title="Вы не подписаны на этот хаб" onclick="if (typeof ga === 'function') { ga('send', 'event', 'hub', 'feed page', 'C#'); }">C#</a><span class="profiled_hub" title="Профильный хаб">*</span>,
        <a href="https://habrahabr.ru/hub/asp/" class="hub " title="Вы не подписаны на этот хаб" onclick="if (typeof ga === 'function') { ga('send', 'event', 'hub', 'feed page', 'ASP'); }">ASP</a><span class="profiled_hub" title="Профильный хаб">*</span>,
        <a href="https://habrahabr.ru/hub/net/" class="hub " title="Вы не подписаны на этот хаб" onclick="if (typeof ga === 'function') { ga('send', 'event', 'hub', 'feed page', '.NET'); }">.NET</a><span class="profiled_hub" title="Профильный хаб">*</span>,
        <a href="https://habrahabr.ru/company/microsoft/" class="hub " title="Вы не подписаны на этот хаб" onclick="if (typeof ga === 'function') { ga('send', 'event', 'hub', 'feed page', 'Блог компании Microsoft'); }">Блог компании Microsoft</a>
    </div>
</div>