<div class="post__footer">
    <div class="infopanel_wrapper js-user_">
        <ul class="postinfo-panel " id="infopanel_post_325846">

            <li class="postinfo-panel__item">
                <div class="voting-wjt voting-wjt_infopanel js-voting  ">
                    <button type="button" class="voting-wjt__button voting-wjt__button_plus js-plus" title="Нравится" onclick="if (typeof ga === 'function') { ga('send', 'event', 'voting_location', 'plus' );} posts_vote(this, 325846, '2', 1);">
                        <span>↑</span>
                    </button>

                    <div class="voting-wjt__counter js-mark">
                        <button type="button" class="voting-wjt__button voting-wjt__button_score js-score" title="Посмотреть результат" onclick="if (typeof ga === 'function') { ga('send', 'event', 'voting_location', 'zero' );} posts_vote(this, 325846, '2', 0); ">—</button>
                    </div>

                    <button type="button" class="voting-wjt__button voting-wjt__button_minus js-minus" title="Не нравится" onclick="if (typeof ga === 'function') { ga('send', 'event', 'voting_location', 'minus' );} posts_vote(this, 325846, '2', -1);">
                        <span>↓</span>
                    </button>

                </div>
            </li>

            <li class="postinfo-panel__item">
                <div class="views-count_post" title="Просмотры публикации">7,8k</div>
            </li>

            <li class="postinfo-panel__item">
                <div class="favorite-wjt favorite">
                    <button type="button" class="favorite-wjt__button add" title="Добавить в избранное" onclick="return posts_add_to_favorite(this, '2', 325846);">
                        <span>В избранное</span>
                    </button>
                    <span class="favorite-wjt__counter js-favs_count" title="Количество пользователей, добавивших публикацию в избранное">100</span>
                </div>
            </li>

            <li class="postinfo-panel__item post-author">
                <a title="Автор публикации" class="post-author__link" href="https://habrahabr.ru/users/usmanov_amir/">
                    <span class="post-author__pic_default user-pic_lilac"></span>@usmanov_amir
                </a>
            </li>

            <li class="postinfo-panel__item postinfo-panel__item_comments">
                <div class="post-comments">
                    <a href="https://habrahabr.ru/post/325846/#comments" class="post-comments__link post-comments__link_all" title="Читать комментарии">26</a>

                    <a href="https://habrahabr.ru/post/325846/#comments" class="post-comments__link post-comments__link_new" title="Читать новые комментарии">+26</a>

                </div>
            </li>

            <li class="postinfo-panel__item postinfo-panel__item_align-right">

            </li>
        </ul>
    </div>

</div>