<div class="post post_full" id="post_325856">
    <div class="post__body post__body_full">
        <div class="post__tags">
            <ul class="tags icon_tag">
                <li><a href="https://habrahabr.ru/search/?q=%5Bfacebook%5D&amp;target_type=posts" rel="tag">facebook</a>, </li>
                <li><a href="https://habrahabr.ru/search/?q=%5Bfacebook%20api%5D&amp;target_type=posts" rel="tag">facebook api</a>, </li>
                <li><a href="https://habrahabr.ru/search/?q=%5B%D0%B1%D0%B0%D0%B3%20%D0%B8%D0%BB%D0%B8%20%D1%84%D0%B8%D1%87%D0%B0%5D&amp;target_type=posts" rel="tag">баг или фича</a></li>
            </ul>
        </div>
    </div>
</div>